header {
    text-align: center;
    font-family: Futura, Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    font-family: Futura, Arial, Helvetica, sans-serif;
}
.pageOne {
    text-align: center;
    background-color: azure;
    background-size: cover;
    height: 1000px;
   }
.pageTwo {
    text-align: center;
    background-color: azure;
    background-size: cover;
    height: 1500px;
   }
.pageThree {
    text-align: center;
    background-color: azure;
    background-size: cover;
    height: 500px;
   }