header {
    text-align: center;
    font-family: Futura, Arial, Helvetica, sans-serif;
}
body {
    text-align: center;
    background-color:  azure;
    background-size: cover;
   }
.me {
  height: 700px;
  border-radius: 50%
}